# Core dependencies
flask==3.1.*
functions-framework==3.5.*
google-cloud-firestore==2.13.*
google-auth==2.27.*
google-auth-oauthlib==1.2.*
google-auth-httplib2==0.1.*
google-api-python-client==2.116.*
pyjwt==2.8.*
requests==2.32.*
python-dateutil==2.8.*