# Development dependencies
black==23.*
isort==5.*
flake8==6.*
pytest==7.*
pytest-cov==4.*
pytest-asyncio==0.23.*
pytest-mock==3.*
responses==0.24.*
freezegun==1.*
moto==4.*
python-jose==3.*

# Install main requirements
-r requirements.txt 