# Development dependencies
black==24.10.*
flake8==7.1.*
isort==5.13.*
mypy==1.8.*
pylint==3.0.*
pytest==8.3.*
pytest-cov==6.0.*
pytest-asyncio==0.25.*
responses==0.25.*
freezegun==1.4.*
types-requests==2.31.*
types-PyJWT==1.7.*
types-python-dateutil==2.9.*

# Install main requirements
-r requirements.txt 